<!DOCTYPE html>
<html>
    <head>
        <title>My First Webpage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="new.css">
    <body>
        <div id="header">HEADER</div>
            <div id="logo">
                <img src="logo.png" alt="Logo" class="logo">
            </div>
    <a href="www.youtube.com">www.youtube.com</a>
    <br>
    <a href="about.html">about us</a><br>
    <a href="Login.html">Login</a><br>
    <a href="Signup.html">Signup</a><br>
    <a href="addtocart.html">AddtoCart</a><br>
    <a href="profile.html">MyProfile</a><br>

    <script src="script.js"></script>
    </body>
    </head>
</html>